{% extends 'base.html' %} 
{% load static %}
{% block templatemo_content %}




<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'css/checkout.css' %}" rel="stylesheet" type="text/css" />

<div id="templatemo_header">
      <div id="templatemo_special_offers">
        {%for i in offer %}
        <p>
          <span>{{ i.dis_num }}</span> {{ i.offer_title }}
        </p>
        <a href="subpage.html" style="margin-left: 50px;">Read more...</a> {% endfor %}
      </div>
      <div id="templatemo_new_books">
        {% for i in new_books %}
        <ul>
          <li>{{ i.book_name }}</li>
        </ul>
        {% endfor %}
        <a href="subpage.html" style="margin-left: 50px;">Read more...</a>
      </div>
    </div>
 <div id="templatemo_content">
 	<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="#">
      
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="john@example.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" placeholder="New York">

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="NY">
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" id="zip" name="zip" placeholder="10001">
              </div>
            </div>
          </div>
           </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <input type="submit" value="Continue to checkout" class="btn">
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container" id=cart_id>
      <h4>Cart <span class="price" style=""><i class="fa fa-shopping-cart"></i> <b>{{ len_cart }}</b></span></h4>
      {% if book_cart %}
      {% for book in book_cart %}
      <p id="price_p_tag"><a href="#">{{ book.book_name }}</a>
       <span class="price" id={{ book.id }}>{{ book.book_price }}</span></p>
      <hr>
      {% endfor %}
      {% endif %}
      <p>Total <span class="price"><b>$30</b></span></p>
    </div>
  </div>
</div>
 </div>
<script type="text/javascript">
  $('#cart_id').click(function(){
      var price = $('#price_p_tag').children().nextAll('.price').text();
      alert(price)
  });

</script>
{% endblock %}